%reset{
  margin: 0;
  padding: 0;
  border: none;
}
%clear{
  content: '';
  display: block;
  clear: both;
}
body{
  @extend %reset;
  color: #333;
  min-width: 955px;
  font-family: "Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",STXihei,"\u534e\u6587\u7ec6\u9ed1",STHeiti,"Times New Roman",SimSun,Arial;
}
ul,li,a,div,span,h1,h2,h3,h4,h5,h6,p,{
  @extend %reset;
  list-style: none;
  display: block;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
input{
  border: none;
  outline: none;
}
$img-path: '../images/';
.nav-wrapper{
  min-width: 955px;
  margin: 0 auto;
}
.nav-wrapper .nav{
  padding: 0 25px 0 30px;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
  position: relative;
  &:after{
    @extend %clear;
  }
  .nav-logo{
    width: 260px;
    height: 56px;
    background: url($img-path + 'baidu-logo.png') no-repeat;
    line-height: 56px;
    display: block;
    margin-top: 20px;
    float: left;
  }
  .nav-func{
    float: right;
    color: #666;
    vertical-align: baseline;
  }
  .nav-search-wrapper{
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-right: 35px;
    vertical-align: middle;
    position: relative;
    background-color: #fff;
    left: 0;
  }
  .nav-search-wrapper .nav-search{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 38px;
    input{
      width: 256px;
      height: 18px;
      margin: 10px 36px 0 2px;
      line-height: 16px;
      padding-left: 5px;
      color: #555;
      float: left;
    }
    .search-icon{
      position: absolute;
      top: 12px;
      right: 12px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: url($img-path + '放大镜.png') no-repeat;
    }
  }
  .nav-func .nav-fr{
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    .nav-user:after{
      @extend %clear;
    }
    .nav-user li{
      height: 20px;
      padding: 40px 0;
      line-height: 20px;
      float: left;
    }
    .nav-user li a{
      padding: 0 22px;
      border-left: 1px solid #ccc;
      color: #555;
    }
    .nav-user li:nth-child(1) a{
      border-left: none;
      background: url($img-path + '登录.png') no-repeat -5px -3px;
    }
    .nav-user li:nth-child(3) a{
      padding: 0 0 0 44px;
      background: url($img-path + '购物车icon.png') no-repeat -10px 0;
    }
  }
}
.nav-wrapper .nav-bars{
  background-color: #333;
  text-align: center;
  height: 40px;
  .nav-bar{
    display: inline-block;
    li{
     float: left;
     line-height: 40px;
     margin: 0;
     font-size: 13px;
     padding: 0 35px;
    }
    li a{
     text-align: center;
     color: #ddd;
     letter-spacing: .5px;
    }
    li a:hover{
      color: #fff;
      text-decoration: none;
    }
    .active{
      background: #222;
    }
    .active a{
      color: #fff;
    }
  }
}


.home-wrapper .home-banner-out{
  width: 100%;
  height: 607px;
  overflow: hidden;
  &:after{
    @extend %clear;
  }
  img{
    transition: transform .8s ease;
  }
  a:hover img{
    transform: scale(1.06,1.06);
  }
  .home-banner-wrapper{
    width: 60%;
    float: left;
    .home-banner{
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .home-banner .banner-lists{
      width: 400%;
      /*position: absolute;*/
      /*top: 0;*/
      /*left: 0;*/
      li{
        width: 25%;
        float: left;
      }
      li img{
        width: 100%;
      }
    }
    .home-banner .banner-lists:after{
      @extend %clear;
    }
  }
  .home-banner-entry{
    width: 40%;
    float: left;
    &:after{
      @extend %clear;
    }
    a img{
      width: 100%;
    }
    .home-wp .home-banner-big{
      display: inline-block;
      float: left;
      width: 100%;
      height: 405px;
      overflow: hidden;
    }
    .home-wp .home-banner-small{
      float: left;
      width: 50%;
      display: inline-block;
      overflow: hidden;
    }
  }
}

.home-wrapper .home-article-wrapper{
  width: 1200px;
  margin: 60px auto;
  overflow: hidden;
  padding-bottom: 60px;
  border-bottom: 1px solid #e9e9e9;
  .home-article-main{
    width: 789px;
    border-right: 1px solid #e9e9e9;
    display: inline-block;
    .article-pic{
      display: inline-block;
      a{
        width: 300px;
        height: 160px;
        margin-right: 30px;
        background: url($img-path + '太阳的.jpg');
        background-size: 100%;
      }
    }
    .article-info{
      display: inline-block;
      width: 420px;
      vertical-align: top;
      a h3{
        font-size: 24px;
        line-height: 1.1em;
        color: #333;
        margin: 30px 0 12px;
        font-weight: normal;
      }
      .article-intro{
        font-size: 12px;
        line-height: 1.5em;
        color: #333;
        text-align: justify;
        height: 6em;
      }
    }
  }
  .home-article-side{
    display: inline-block;
    width: 340px;
    margin: 23px 0 0 40px;
    vertical-align: top;
    a .article-t{
      font-size: 14px;
      line-height: 2em;
      color: #333;
    }
    a p::before{
      content: "·";
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.goods-block{
  width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
  ul:after{
    @extend %clear;
  }
  ul li{
   width: 238px;
   height: 269px;
   float: left;
   padding: 20px;
   display: inline-block;
   box-sizing: border-box;
   cursor: pointer;
   position: relative;
   &:hover{
      img{
        transform:translateX(-10px);
      }
   }
   span{
     color: #000;
     text-align: left;
   }
   .goods-name{
     font-size: 16px;
   }
   .goods-name:hover{
     text-decoration: underline;
   }
   .goods-price{
     margin: 11px 0 2px -5px;
     font-size: 16px;
   }
   img{
     width: 138px;
     height: 138px;
     position: absolute;
     bottom: 16px;
     right: 14px;
     display: block;
     transition:transform .3s ease-out;
   }
  }
  ul li a:hover{
    text-decoration: none;
  }
  ul .goods-six{
    display: none;
  }
  ul .goods-ad{
    width: 220px;
    height: 540px;
    margin-right: 25px;
    padding: 0;
    img{
      width: 220px;
      height: 540px;
      position: static;
    }
  }
  ul .goods-first{
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  ul .goods-second{
    width: 478px;
    height: 540px;
    padding: 20px 25px;
    a{
      width: 428px;
      height: 500px;
    }
    .goods-name{
      font-size: 24px;
    }
    .goods-price{
      margin: 16px 0 4px -5px;
      font-size: 22px;
    }
    img{
      width: 395px;
      height: 395px;
    }
  }
  ul .goods-third{
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  ul .goods-fourth{
    border-right: 1px solid #e9e9e9;
    margin-left: -954px;
    margin-top: 269px;
  }
  ul .goods-fifth{
    border-left: 1px solid #e9e9e9;
  }
}
.goods-block.goods-block2 .goods-ad{
  float: right;
}
.product-wrapper{
  background-color: #f6f6f6;
  padding: 60px 0;
  margin-top: -41px;
}
.product-wrapper .product-recomm{
  margin: 0 auto;
  height: 400px;
  width: 1200px;
  overflow: hidden;
  .product-img{
    float: left;
    width: 710px;
    position: relative;
    .product-direction{
      position: absolute;
      width: 21px;
      height: 42px;
      right: 0;
      top: 50%;
      margin-top: -21px;
      background-image: url($img-path + '右箭头.png');
      z-index: 5;
    }
  }
  .product-info{
    margin-left: 735px;
    .p-title{
      font-size: 30px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: 1px;
      line-height: 1.2;
    }
    .p-desc{
      margin-top: 12px;
      font-size: 12px;
      line-height: 20px;
      height: 60px;
    }
    .p-price{
      color: #ee3531;
      margin: 17px 0;
      font-family: verdana;
      font-size: 18px;
    }
    .p-price span{
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
    }
  }
  .p-buy,.p-look,.p-join{
    color: #fff;
    width: 140px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    transition: all .3s ease-out;
    letter-spacing: 1.5px;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
  .p-btns .p-buy{
    background-color: #ee3531;
    margin-bottom: 90px;
    &:hover{
      background: #980503;
    }
  }
  .p-btns .p-look{
    background-color: #fff;
    border: 1px solid #999;
    width: 138px;
    height: 38px;
    color: #333;
    margin-left: 15px;
    &:hover{
      border-color: #000;
    }
  }
  .p-intro{
    border-top: 1px solid #d7d7d7;
    padding-top: 27px;
    span,a{
      display: inline-block;
    }
    .p-user{
      display: inline-block;
      margin-right: 7px;
      vertical-align: middle;
    }
    .p-user img{
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    .p-detail{
      display: inline-block;
      line-height: 30px;
    }
    .p-join{
      background-color: #333;
      float: right;
    }
    .p-join:hover{
      background-color: #000;
    }
  }
}
@for $i from 1 through 6{
  .news-lists li:nth-child(#{$i}) .news-img{
    background: url($img-path + 'list-img' + $i + '.jpg') center center no-repeat;
    background-size: cover;
  }
}
.news-wrapper{
  padding: 30px 0 50px;
}
.news-inner{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  .news-lists{
    width: 1300px;
    &:after{
      @extend %clear;
    }
    li{
     background-color: #f6f6f6;
     display: inline-block;
     width: 380px;
     margin: 30px 30px 0 0;
     position: relative;
     vertical-align: top;
   }
   li a:hover{
     text-decoration: none;
   }
   li .news-img{
     width: 380px;
     height: 288px;
   }
   li .news-info{
     padding: 0 18px;
   }
   li .news-info .author-avatar{
     display: inline-block;
     width: 70px;
     height: 70px;
     margin: -35px 10px 0 0;
     background: #fff;
     border-radius: 50%;
     text-align: center;
     img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-top: 5px;
     }
    }
    li .news-info .author-name{
      color: #999;
      font-size: 12px;
      vertical-align: 10px;
      display: inline-block;
    }
    li .news-info .fl-right{
      float: right;
      color: #999;
      font-size: 12px;
      margin: 8px 0 0 15px;
    }
    .comment-count i,.like-count i{
      margin-right: 5px;
      color: #BBB;
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: -4px;
    }
    .comment-count i{
      background-image:url($img-path + 'chat.png')
    }
    li .news-info .news-title{
      color: #333;
      font-size: 16px;
      line-height: 26px;
      margin: 20px 0 10px;
      width: 100%;
    }
    li .news-info .news-intro{
      color: #666;
      font-size: 12px;
      line-height: 1.5em;
      height: 37px;
    }
    li .news-info .news-time{
      color: #999;
      font-size: 12px;
      line-height: 12px;
      margin: 18px 0 25px;
    }
  }
}
  .video-more{
    width: 178px;
    height: 33px;
    line-height: 33px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    color: #666;
    font-size: 13px;
    text-align: center;
    margin: 30px auto 0;
    &:hover{
     border-color: #000;
     color: #000;
     text-decoration: none;
   }
}

.video-wrapper{
  padding: 60px 0;
  height: 542px;
  width: 100%;
  background-color: #f6f6f6;
  .video-inner{
    width: 1200px;
    height: 477px;
    margin: 0 auto;
  }
  .video-left,.video-center{
    margin-right: 5px;
    float: left;
  }
  .video-inner li{
    position: relative;
  }
  .video-inner .video-desc{
    padding: 0 55px 0 15px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    background: url($img-path + 'play.png') no-repeat 193px center;
  }
  .video-small{
    width: 236px;
    height: 236px;
    position: relative;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 5px;
    float: left;
  }
  .video-inner .video-left{
    width: 236px;
    height: 477px;
    box-sizing: border-box;
  }
  .video-inner .video-center{
    float: left;
    width: 477px;
    height: 477px;
    overflow: hidden;
  }
}
.logo-wrapper{
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 70px 0 100px;
  .logo-lists:after{
    @extend %clear;
  }
  .logo-lists li{
    float: left;
    margin-right: 48px;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-top: 30px;
    a{
      width: 100%;
      height: 100%;
    }
  }
  .logo-lists li:nth-child(9),.logo-lists li:nth-child(17){
    margin-right: 0;
  }
  @for $i from 1 through 17{
    .logo-lists li:nth-child(#{$i}) a{
      background: url($img-path + 'logo' + $i + '.jpg')center center no-repeat;
      background-size: 100%;
    }
  }
}
.footer{
  width: 100%;
    height: 300px;
    background-color: #222;
    overflow: hidden;
    font-size: 12px;
    position: relative;
    bottom: 0;
    z-index: 170;
    .footer_top{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      height: 119px;
      border-bottom: 1px solid #333;
      .sum{
        width: 886px;
        margin: 0 auto;
        overflow: hidden;
        ul{
          width: 1080px;
          height: 119px;
          li{
            margin-right: 100px;
            padding-left: 55px;
            float: left;
            color: #fff;
            font-size: 16px;
            height: 119px;
            background:red;
            text-align: center;
            line-height: 119px;
            font-weight:400;
          }
          .a{
            background: url(../images/a.png) no-repeat;
            background-position: -5px 35px;
          }
          .b{
            background: url(../images/a.png) no-repeat;
            background-position: -4px -56px;
          }
          .c{
            background: url(../images/a.png) no-repeat;
            background-position: -4px -163px;
          }
          .d{
            background: url(../images/a.png) no-repeat;
            background-position: -4px -266px;
          }
        }
      }
    }
    .footer_bot{
      width: 983px;
    margin: 34px auto 0;
    padding-bottom: 36px;
    text-align: center;
    .footer_left{
      float: left;
      max-width: 537px;
      padding-right: 60px;
      border-right: 1px solid #333;
      padding: 25px 60px 30px 0;
      text-align: right;
      .f-tel {
        color: #fff;
        opacity: .3;
        font-size: 18px;
        letter-spacing: 1.5px;
        text-align: left;
            }
            .f-info{
              margin-top: 5px;
              text-align: left;
              font-family: "Microsoft YaHei";
              span{
                font-size: 12px;
                color: #fff;
                opacity: 0.3;
                margin-right: 10px;
              }
              a{
                font-family: "Microsoft YaHei";
                margin-right: 10px;
                color:#555;
                text-align: left;
                float: left;
              }
              a:hover{
                color: #fff;
              }
            }
    }
    .footer_right{
      width: 324px;
      padding-left: 56px;
        font-size: 12px;
        color: #fff;
        float: left;
        text-align: center;
        a{
          display: inline-block;
          width: 42px;
          height: 42px;
          margin-right: 9px;
                margin-top: 20px;
        }
       .about{
           text-align: left;
           color: #595959;
           font-weight: 400;
        }
        .f-focus-icon{
          margin-top: -26px;
          margin-left: -20px;
          .f-tieba{
                  background: url(../images/weibo.png);
                  background-position: -104px 0;
                  &:hover{
                        background-position: -281px 0;
                  };
        }
        .f-weixin{
            height: 52px;
                  background: url(../images/weibo.png);
                  background-repeat: no-repeat;
                  background-position: 0 5px;
                  margin-bottom: -5px;
                  position: relative;
                  img{
                    position: absolute;
                    bottom: 120%;
                    left: -190%;
                    display: none;
                  }
                    &:hover{
                      img{
                        display: block;
                      }
                        background-position: -177px 5px;
                  };

        }
        .f-weibo{
                  background: url(../images/weibo.png);
                  background-position: -52px 0;
                    &:hover{
                    background-position:-229px 0;
                  };
        }
        img{
          margin-left: 48px;
        }
        }

    }
    }
}

@media screen and(max-width: 1348px){
  .coo_wrapper li{
    float: left;
    margin-right: 18px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
  }
}





@media screen and(max-width: 1348px){
  .things ul{
    width: 955px;
  }
  .goods li{
         width: 235px;
         height: 270px;
         float: left;
         display: inline-block;
         box-sizing: border-box;
         padding: 20px 17px;
    }
    .goods_6{
      display: block;
    }
    .goods .goods_2{
      width:235px;
      height: 270px;
      display: inline-block;
      float: left;
      img{
        width: 138px;
        height: 138px;
      }
    }
    .goods_4{
        margin-left: 0;
        margin-top: 0;
    }
    .goods_border{
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }
    .goods_b{
      border-right: 1px solid #e9e9e9;
    }
}
